    <div>
        <h6 style="margin-top:60px">Daftar RPS</h6>
            <div class="row">
                <div class="col-12" style="margin-top:70px">
                    <div class="card2 mb-4" style="border-radius: 10px;">
                        <div class="card-body" style="box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                            <div class="container-fluid">
                                <table id="myTable" class="table table-bordered table-hover" style="margin-top:30px">
                                    <thead>
                                        <tr align="center" bgcolor='C4C4C4'>
                                            <th>No</th>
                                            <th>Kode Mata Kuliah</th>
                                            <th>Nama Mata Kuliah</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr align="center" style="color:#353535; font-weight:100; width:100%;">
                                            <th>1</th>
                                            <th>JSI100213</th>
                                            <th>Pemograman Web</th>
                                            <th width="280px">
                                                <a class='btn btn-list' href="lihatRPSDosen.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Lihat</a>
                                                <a class='btn btn-list' href="rps.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Revisi</a>
                                                <a class='btn btn-danger' onclick="return confirm('Apakah anda yakin ingin menambah RPS?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah</a>
                                            </th>
                                        </tr>
                                        <tr align="center" style="color:#353535; font-weight:100; width:100%;">
                                            <th>2</th>
                                            <th>JSI100214</th>
                                            <th>Dasar - Dasar Pemrograman</th>
                                            <th width="280px">
                                                <a class='btn btn-list' href="lihatRPSDosen.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Lihat</a>
                                                <a class='btn btn-list' href="rps.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Revisi</a>
                                                <a class='btn btn-danger' onclick="return confirm('Apakah anda yakin ingin menambah RPS?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah</a>
                                            
                                            </th>
                                        </tr>
                                        <tr align="center" style="color:#353535; font-weight:100; width:100%;">
                                            <th>3</th>
                                            <th>JSI100215</th>
                                            <th>Pemograman Bergerak</th>
                                            <th width="280px">
                                                <a class='btn btn-list' href="lihatRPSDosen.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Lihat</a>
                                                <a class='btn btn-list' href="rps.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Revisi</a>
                                                <a class='btn btn-danger' onclick="return confirm('Apakah anda yakin ingin menambah RPS?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah</a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>