<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi E-RPS</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <!-- data tabel CSS -->
    <link rel="stylesheet" href="assets/css/jquery.dataTables.min.css">
            <!-- data tabel CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-chosen.css">
</head>

<body id="body-pd" style="background-color: #EFEAD8;">
    <header class="header" id="header" style="background-color: white">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> 
        </div>
    </header>

    <div class="l-navbar" id="nav-bar" >
        <nav class="nav">
            <div> 
                <div class="nav_list2"> 
                <a href="#" class="nav_logo"> 
                    <img src="http://www.clker.com/cliparts/M/o/W/d/C/j/about-icon-md.png" align="center" width="20%"><br>
                    <span class="nav_logo-name" style="margin-left:5px">Dosen</span> 
                </a>
                </div>
                <div class="nav_list"> 
                        <a href="berandaDosen.html" class="nav_link"> 
                            <i class='bx bx-home nav_icon'></i> 
                            <span class="nav_name">Beranda</span> 
                        </a>
                        <a href="daftarRPSDosen.html" class="nav_link active"> 
                            <i class='bx bx-clipboard nav_icon'></i> 
                            <span class="nav_name">Daftar RPS</span> 
                        </a> 
                        <br><br><br>
                        <a href="/views/login.html" class="nav_link" style="margin-top:260px;" href=""> 
                            <i class='bx bx-log-out nav_icon'></i> 
                            <span class="nav_name">Log Out</span> 
                        </a>
                </div>
            </div> 
        </nav>
    </div>
    
    <div>
        <h6 style="margin-top:60px">Daftar RPS</h6>
            <div class="row">
                <div class="col-12" style="margin-top:70px">
                    <div class="card2 mb-4" style="border-radius: 10px;">
                        <div class="card-body" style="box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                            <div class="container-fluid">
                                <p align="right"><a class='btn btn-list' href="tambahMatkul.html" style="background-color: white; color:#353535; border:#353535 1px solid; margin-top:15px"> Tambah</a></p>
                                <table id="myTable" class="table table-bordered table-hover" >
                                    <thead >
                                        <tr align="center" bgcolor='C4C4C4'>
                                            <th>No</th>
                                            <th>Kode Mata Kuliah</th>
                                            <th>Nama Mata Kuliah</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr align="center" style="color:#353535; font-weight:100; width:100%;">
                                            <th>1</th>
                                            <th>JSI100213</th>
                                            <th>Pemograman Web</th>
                                            <th width="280px">
                                                <a class='btn btn-list' href="lihatRPSDosen.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Lihat</a>
                                                <a class='btn btn-list' href="rps.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Detail</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr align="center" style="color:#353535; font-weight:100; width:100%;">
                                            <th>2</th>
                                            <th>JSI100214</th>
                                            <th>Dasar - Dasar Pemrograman</th>
                                            <th width="280px">
                                                <a class='btn btn-list' href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Lihat</a>
                                                <a class='btn btn-list' href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Detail</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr align="center" style="color:#353535; font-weight:100; width:100%;">
                                            <th>3</th>
                                            <th>JSI100215</th>
                                            <th>Pemograman Bergerak</th>
                                            <th width="280px">
                                                <a class='btn btn-list' href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Lihat</a>
                                                <a class='btn btn-list' href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Detail</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="footer" style="bottom:-150px">
        <p>Copyright &copy 2022 Aplikasi E-RPS. All Rights Reserved.</p>
    </div>

    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/chosenjquery.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        } );
    </script>
    <script>
      $(function() {
        $('.chosen-select').chosen();
      });
</script>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        const showNavbar = (toggleId, navId, bodyId, headerId) =>{
        const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId),
        bodypd = document.getElementById(bodyId),
        headerpd = document.getElementById(headerId)
        
        // Validate that all variables exist
        if(toggle && nav && bodypd && headerpd){
        toggle.addEventListener('click', ()=>{
        // show navbar
        nav.classList.toggle('show')
        // change icon
        toggle.classList.toggle('bx-x')
        // add padding to body
        bodypd.classList.toggle('body-pd')
        // add padding to header
        headerpd.classList.toggle('body-pd')
        })
        }
        }
        
        showNavbar('header-toggle','nav-bar','body-pd','header')
        
        /*===== LINK ACTIVE =====*/
        const linkColor = document.querySelectorAll('.nav_link')
        
        function colorLink(){
        if(linkColor){
        linkColor.forEach(l=> l.classList.remove('active'))
        this.classList.add('active')
        }
        }
        linkColor.forEach(l=> l.addEventListener('click', colorLink))
    });
    </script>
    <script>
        $(document).ready(function(){
            $('#tabel-data').DataTable();
        });
    </script>    