<div>
            <div class="row" >
                <nav aria-label="breadcrumb" style="margin-top:75px;">
                    <ol class="breadcrumb">
                    <li class="me-3">
                        <a href="daftarRPSDosen.html" class="btn btn-sm" style="font-size: 17px;font-weight:600;color: #404444">Daftar RPS</a>
                    </li>
                    <li class="me-3" aria-current="page">
                        <a href="lihatRPSDosen.html" class="btn btn-sm" style="background-color: #353535; color: #fff; font-weight:600; font-size: 17px; border-radius: 10px;">Lihat RPS</a>
                    </li>
                    </ol>
                </nav>
            </div>

            <div class="row">
                <div class="col-12" style="margin-top:70px">
                    <div class="card2 mb-4" style="border-radius: 10px;">
                        <div class="card-body" style="box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                            <div class="container-fluid">
                                <h5 align="center" style="margin-top:20px;margin-bottom:20px">Pemograman Web</h5>

                                <a class='btn btn-list' href="tambahPenilaian.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah Komponen Penilaian</a>           
                                <table id="myTable" class="table table-hover" style="margin-top:20px">
                                    <thead >
                                        <tr bgcolor='C4C4C4'>
                                            <th width="80%" style="padding-bottom:12px">KOMPONEN PENILAIAN</th>
                                            <th width="20%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:#353535; width:100%;">
                                            <th width="80%" align="left" style="font-size:14px">Project</th>
                                            <th width="20%" align="center">
                                                <a class='btn btn-list' href="editPenilaian.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr style="color:#353535;width:100%;">
                                            <th align="left" style="font-size:14px">Tugas</th>
                                            <th width="380px">
                                                <a class='btn btn-list' href="editPenilaian.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr style="color:#353535;width:100%;">
                                            <th align="left" style="font-size:14px">Quiz</th>
                                            <th width="380px">
                                                <a class='btn btn-list' href="editPenilaian" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr style="color:#353535; width:100%;">
                                            <th align="left" style="font-size:14px">UTS</th>
                                            <th width="380px">
                                                <a class='btn btn-list' href="editPenilaian.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr style="color:#353535; width:100%;">
                                            <th align="left" style="font-size:14px">UAS</th>
                                            <th width="380px">
                                                <a class='btn btn-list' href="editPenilaian.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <br>
                                <a class='btn btn-list' href="tambahPertemuan.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah Pertemuan</a>      
                                <table id="myTable" class="table table-hover" style="margin-top:20px">
                                    <thead >
                                        <tr bgcolor='C4C4C4'>
                                            <th width="80%" style="padding-bottom:12px">PERTEMUAN MINGGUAN</th>
                                            <th width="20%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:#353535; width:100%;">
                                            <th width="80%" align="left" style="font-size:14px">Pertemuan 1</th>
                                            <th width="20%" align="center">
                                                <a class='btn btn-list' href="editPertemuan.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr style="color:#353535;width:100%;">
                                            <th align="left" style="font-size:14px">Pertemuan 2</th>
                                            <th width="380px">
                                                <a class='btn btn-list' href="editPertemuan.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                                <br>
                                <a class='btn btn-list' href="tambahReferensi.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah Referensi</a>          
                                <table id="myTable" class="table table-hover" style="margin-top:20px">
                                    <thead >
                                        <tr bgcolor='C4C4C4'>
                                            <th width="80%" style="padding-bottom:12px">REFERENSI</th>
                                            <th width="20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:#353535; width:100%;">
                                            <th width="80%" align="left" style="font-size:14px">Beginning PHP 5.3</th>
                                            <th width="20%" align="center">
                                                <a class='btn btn-list' href="editReferensi.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        <tr style="color:#353535;width:100%;">
                                            <th align="left" style="font-size:14px">Professional Javascript for Web Developer</th>
                                            <th width="380px">
                                                <a class='btn btn-list' href="editReferensi.html" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                                <br>
                                <a class='btn btn-list' href="createCPMK" style="background-color: white; color:#353535; border:#353535 1px solid;">Tambah CPMK</a>
                                <table id="myTable" class="table table-hover" style="margin-top:20px">
                                    <thead >
                                        <tr bgcolor='C4C4C4'>
                                            <th width="80%" style="padding-bottom:12px">CPMK</th>
                                            <th width="20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each cpmks}}
                                        <tr style="color:#353535; width:100%;">
                                            <th width="80%" align="left" style="font-size:14px">{{this.detail}} (CP {{this.id_course}})</th>
                                            <th width="20%" align="center">
                                                <a class='btn btn-list' href="/editCPMK/{{this.id_course}}" style="background-color: white; color:#353535; border:#353535 1px solid;">Edit</a>
                                                <a class='btn btn-danger' onclick="return confirm('Anda yakin menghapus data ini ?')" href="/deleteCPMK/{{this.id_course}}" style="background-color: white; color:#353535; border:#353535 1px solid;">Delete</a>
                                            </th>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                                <div class="col-12">
                                    <a class="btn btn-list mt-2" align="left" style=" color: white; background-color:#353535; border:#353535 2px solid;" href="daftarRPSDosen.html">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>