<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi E-RPS</title>
    
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body style="background-color:#EFEAD8">
    <div class="container d-flex justify-content-center mt-5 ">
        <div class="d-flex flex-column justify-content-between">
            <div class="card p-5" style="background-color:#353535; margin-top: 50pt;">
                <div class="logo mb-3"><img src="https://lp3m.unand.ac.id/seminar/tsadmin/todakimage/logo.png" width="30%"></div>
                    <div>
                        <h4 class="mb-5 text-white">Aplikasi E-RPS</h4>
                    </div>
            </div>
            <div class="card two bg-white px-5 py-4 mb-3">
                <div class="form-group"><input type="text" class="form-control" id="name" required><label class="form-control-placeholder" for="name">Username</label></div>
                <div class="form-group"><input type="password" class="form-control" id="password" required><label class="form-control-placeholder" for="password">Password</label></div>
                <button class="btn btn-primary btn-block btn-lg mt-1 mb-2 white" style="background-color:#353535;color:white;text-decoration: none;"><span>Login<i class="fas fa-long-arrow-alt-right ml-2 white"></i></span></button>
            </div>
        </div>
    </div>    
</body>
</html>