    <div>
        <div class="row" >
            <nav aria-label="breadcrumb" style="margin-top:75px;">
                <ol class="breadcrumb">
                <li class="me-3">
                    <a href="daftarRPSDosen.html" class="btn btn-sm" style="font-size: 17px;font-weight:600;color: #404444">Daftar RPS</a>
                </li>
                <li class="me-3" aria-current="page">
                    <a href="lihatRPSDosen.html" class="btn btn-sm" style="background-color: #353535; color: #fff; font-weight:600; font-size: 17px; border-radius: 10px;">Tambah RPS</a>
                </li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-12" style="margin-top:70px">
                <div class="card2 mb-4" style="border-radius: 10px;">
                    <div class="card-body" style="box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);border-radius: 10px;">
                        <div class="container-fluid">
                            <form action="" method="POST">
                                <div class="row">
                                    <h5 align="center" style="margin-top:20px">Tambah Referensi</h5> 
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                        <label for="">Judul</label>
                                        <input type="int" class="form-control" name="" required>
                                        </div>

                                        <div class="col-md-12">
                                        <label for="">Penulis</label>
                                        <input type="int" class="form-control" name="" required>
                                        </div>

                                        <div class="col-md-12">
                                        <label for="">Penerbit</label>
                                        <input type="int" class="form-control" name="" required>
                                        </div>

                                        <div class="col-md-12">
                                        <label for="">Tahun Terbit</label>
                                        <input type="int" class="form-control" name="" required>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="">Deskripsi</label>
                                            <input type="int" class="form-control" name="" required>
                                        </div>

                                        <div align="center" class="col-12">
                                            <a class="btn btn-list" style="margin-left:30px; color: white; background-color:#353535; border:#353535 2px solid;" href="">Reset</a>
                                            <a class="btn btn-list" style="margin-left:30px; color: white; background-color:#353535; border:#353535 2px solid;" href="lihatRPSDosen.html">Cancel</a>
                                            <input class="btn btn-list" type="submit" name="simpan" value="Submit" style="margin-left:30px; color: white;background-color:#353535; border:#353535 2px solid;">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>